.mx-0{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.box1{
  width: 500px;
  border-style: dashed;
  border-color: black;
  background-color: blue;
}

.margin-3{
  margin: 10px 20px 30px;
}

p ~ .color-blue{
  color:blue;
}

p + p.color-red{
  color: red;
}